[Desktop Entry]
Name=Zedis
Exec=zedis
Icon=icon
Type=Application
Categories=Development;Database;
Comment=A High-Performance Redis Client
Terminal=false